IPython
aiohttp
beautifulsoup4
bottle
dulwich==0.20.17
errbot[slack]==6.1.8
feedparser
filemagic
gitpython
hypchat
irc
jira
jsonpickle
markdown>=3.3.6
pyasn1-modules
pyfiglet
pyotp
pyquery
python-telegram-bot
qrcode
raven
redis
six>=1.9
slack-sdk>=3.12.0
slackclient
slackeventsapi>=3.0.0
sleekxmpp==1.3.1
sqlalchemy
tvdb_api
twilio
whois
whoosh
